.card{
    border: 1px solid rgba(120, 255, 105, 0.677);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.397);
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    max-width: 270px;
    display: block;
    width: fit-content;
}

.card .card-pic {
    max-width: 60%;
    height: auto;
    margin-bottom: 10px;
}

.card .card-title {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color:crimson;
}

.card .card-content {
    color: rgba(220, 20, 60, 0.649);
}

.student {
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    border: 1px solid blueviolet;
}

.welcome-message {
    font-size: 2em;
    background-color:chartreuse;
    color:crimson;
    padding: 10px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
}

.login-instruction {
    font-size: 2em;
    background-color:red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    text-align: center;
}

.list-category {
    font-size: 2em;
    margin: 10px;
}

.list-item li{
    font-size: 1.2em;
    margin-top: 0;
    opacity: 50%;
}

.list-item li:hover {
    opacity: 100%;
    cursor: pointer;
}