.dataContainer {
  position: relative;
  margin-top: 20px;
}

.dataInput {
  border: 2px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  width: 75%;
  outline: none;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
  transition: 0.2s;
}

.dataLabel {
  position: absolute;
  left: 15px;
  top: 15px;
  color: #999;
  pointer-events: none;
  transition: 0.2s;
}

/* The Magic: When focused or not empty, move the label */
.dataInput:focus ~ .dataLabel,
.dataInput:not(:placeholder-shown) ~ .dataLabel {
  top: -10px;
  left: 10px;
  font-size: 12px;
  background-color: white;
  padding: 0 5px;
  color: #6200ee;
  font-weight: bold;
}

.dataInput:focus {
  border-color: #6200ee;
}

.instruction {
    margin-top: 20px;
    width: 75%;
    min-height: 20px;
    padding: 15px;
    border: 2px solid #e1e1e1;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
    resize: vertical;
    font-family: 'Times New Roman', Times, serif;
}

.instruction:focus {
    border-color: #6200ee;
}